<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title style="font-style:italic">NanoTune</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="static/huddle/css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body>


    <!-- Create outer border -->
    <div class="page-border" style="padding-left:110px; padding-right:110px; padding-bottom:95px; padding-top: 0px">
        <img style="padding:45px; padding-top: 65px; padding-bottom: 45px;margin-top:-58px; margin-bottom: -70px; display: block; margin-left: auto;margin-right: auto;" src="static/huddle/img/NanoTune.png" alt="" width="650">
    <div class="bg--white" style="background-color:rgba(255, 255, 255, 1)">


        <!-- Header -->
        <header class="align--center pt3 pb2">
            <div class="container">
                <h1 class="mb3" title="NanoTune" style="margin-bottom: -40px"></h1>
                <h2 class="mb3" style="font-style:italic; margin-bottom:15px; margin-top:15px; font-size:13px">The tiny hosting platform for your galactic songs</h2>
                <hr>
                <p class ="mb3" style="font-size:15px ;margin-top:100px; font-size:20px">Get started by uploading an .mp3&nbsp;
                or .wav file.</p>
                <p class="mb3" style="font-size:20; margin-top:-35px">˅</p>
                <a class="btn" href="/upload" style="margin-top:-20px; margin-bottom:30px">Upload</a>
                <p class="mb1" style="font-size:10px; margin-top:200px">made with &hearts; by Nate Schroder</p>
            </div>
        </header>





        <!-- Body -->
        <main>
            <div class="container">

                <!-- Info -->
            <!--     <section class="pt2 pb3">                    
                    <div class="grid-row">
                        <div class="grid-column span-one-third mt1">
                            <img class="icon mb1" src="static/huddle/img/bucket.svg">
                            <p>Equidem soleo etiam quod uno Graeci, si aliter non possum idem&nbsp;pluribus.</p>
                        </div>
                        <div class="grid-column span-one-third mt1">
                            <img class="icon mb1" src="static/huddle/img/flask.svg">
                            <p>Nonne videmus quanta perturbatio rerum omnium consequatur&nbsp;quanta.</p>
                        </div>
                        <div class="grid-column span-one-third mt1">
                            <img class="icon mb1" src="static/huddle/img/aircraft.svg">
                            <p>Hoc enim constituto in philosophia constituta sunt omnia aliter&nbsp;possum.</p>
                        </div>
                    </div>
                     
                </section> -->

                <!-- Presenters -->
                <!-- <section class="pt3 pb3 align--center">
                    <h3 class="mb1">The talkers</h3>
                    <div class="grid-row">
                        <div class="grid-column span-2 mt2">
                            <img class="mb1" src="static/huddle/img/woman2.jpg" alt="Kiara Taylor">
                            <p class="small">Nate Schroder</p>
                        </div>
                    </div>
                </section>-->

                <!-- Sponsors -->
                <section class="pt3 pb3 align--center">
                    <h3 class="mb2" style="margin-top:150px; margin-bottom:-50px">other projects of mine</h3>
                </section>

                <!-- Testimonials -->
                <!-- <section class="pt2 pb3">
                    <h3 class="align--center mb2">On the record</h3>
                    <div class="grid-row">
                        <div class="grid-column span-one-third mt1">
                            <blockquote class="blockquote">
                                <p>This conference changed my life because I found my wife&nbsp;there.</p>
                                <p>> <cite>Randy Johnson</cite></p>
                            </blockquote>
                        </div>
                        <div class="grid-column span-one-third mt1">
                            <blockquote class="blockquote">
                                <p>It takes a really long time to get to this event. Worth it?&nbsp;Maybe.</p>
                                <p>> <cite>Jill Carson</cite></p>
                            </blockquote>
                        </div>
                        <div class="grid-column span-one-third mt1">
                            <blockquote class="blockquote">
                                <p>Sometimes I like to be glamorous. It makes me feel good&nbsp;inside.</p>
                                <p>> <cite>Chase Harrop</cite></p>
                            </blockquote>
                        </div>
                    </div>
                </section> -->

                <!-- CTA -->
                <!-- <section class="align--center pt3 pb3">
                    <p class="h3 mb2">Tickets start at&nbsp;$950.</p>
                    <a href="" class="btn btn--outline">Download Schedule</a>
                    <a href="https://www.eventbrite.com/" class="btn btn--default">Get a ticket →</a>
                    <p class="small mt1 text--gray">Tickets available on Eventbrite.</p>
                </section> -->

            </div>
        </main>

        <!-- Footer -->
        <footer class="mt2 pb3 align--center">
            <ul class="no-bullets list--inline mb0">
                <li class="m1 block-on-mobile"><a href="https://soundcloud.com/nathanaelschroder" class="link"><br><img class="icon" src="static/huddle/img/soundcloud.svg" alt="Soundcloud">Soundcloud</a></li>
            </ul>
        </footer>

    </div>
    </div>
    <script src="static/test/js/jquery.min.js"></script>
    <script src="static/test/js/bootstrap.min.js"></script>
    <script src="static/test/js/scripts.js"></script>
    </body>

</html>

